.options{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.selectLanguage{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80vh;
    align-items: center;
    justify-content: center;

}